@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');



* {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 25px;
}

.para {
    margin-top: 12px;
    margin-left: 12px;
}

.form-form {
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
}

#input {
    padding-left: 6px;
}

.book-book {
    margin-bottom: 5px;
}

.book-input{
    padding: 12px;
}

.book-card-title {
    display: flex;
}

.emoji-icon {
    margin-right: 5px;
}

.footer {
    padding: 3px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0d6efd;
    color: white;
    text-align: center;
 }


 .example-div {
    border: 2px solid red;
    height: 25px;
    width: 25px;
 }
